/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

  * { /* Color de las letras */
    color: #ecf1f2;
    font-family: 'Noto Serif', Arial, Helvetica, sans-serif;
    text-shadow:
      -0.5px -1px 0 black,
      0.5px -1px 0 black,
      -0.5px  1px 0 black,
      0.5px  1px 0 black;
  }
  
  body { /* Color de fondo */
    background: #1a1c20;
    padding: 0;
    margin: 0;
  }

  header {
    background: linear-gradient(#f83646, #1a1c20);
    padding-left: 5px;
    padding-bottom: 20px;
  }

  main {
    margin-top: -20px;
    margin-left: 10px;
  }

  h1, h2, h3 {
    text-shadow:
      -1.5px -1px 0 black,
      1.5px -1px 0 black,
      -1.5px  1px 0 black,
      1.5px  1px 0 black;
  }

  input, button {
    border: none;
    background: rgba(248, 54, 70, 0.7);
    border-radius: 3px;
    padding: 2px;
    margin: 2px;
  }

  label {
    padding: 5px;
  }

  #title {
    font-size: 3rem;
    margin-bottom: 5px;
    text-decoration: none;
    text-shadow: 2px 2px 1px black;
  }

  .header-links {
    margin-left: 2px;
    text-decoration: none;
    border-radius: 5px;
    height: auto;
    width: 30px;
    padding: 3px;
    background-color: #222a31;
  }

  #language-dropdown {
    margin-left: 2px;
    display: flex;
    margin-top: 10px;
    align-items: center;
  }

  #language-dropdown select {
   font-size: 16px;
   background-color: #640500;
   border-radius: 5px;
   border: none;
   padding: 2px 6px;
   height: 100%;
   margin: 2px 0;
  }

  #title {
    margin: 0;
  }

  table {
    border: 2px solid #f83646;
    border-radius: 5px;
    padding: 2px;
  }

  td {
    background: rgba(0, 0, 0, 0.5);
  }

  td * {
    padding-right: 5px;
  }

  td input, td a {
    padding-left: 5px;
  }

  a:not(#title, .header-links) {
    text-decoration: none;
    background: rgba(248, 54, 70, 0.7);
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 2px;
    border-radius: 3px;
  }

  @media only screen and (max-width:700px) {
    .header-links {
      display: inline-block;
      margin-bottom: 5px;
      width: auto;
    }
  }