.comment-header {
    display: flex !important;
    align-items: center;
    gap: 10px;
}

.comment-movie-title {
    margin-left: auto !important;
    font-size: 20px !important;
    color: #ecf1f2 !important;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
}

.comment-date {
    margin-right: 0px !important;
}